@media (min-width: 375px) {
    main { background: url(images/bg-pattern-top.svg) no-repeat; }
    .card { max-width: 400px; }
  }
@media (max-width: 1440px) {
    main { background: url(images/bg-pattern-top.svg) no-repeat; }
    .card { max-width: 1440px; }
  }
  

   :root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 62.5%;}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    background-color: var(--Dark-cyan);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
    background-repeat: no-repeat;}
  
    /* need to modify below code in order to be displayed properly */


    div.card{
    
        display: flex;
        float: left;        
        flex-direction:column;
        border-radius: 15px;;
        background-color: #fff;
    }
    
    .image-victor{
        border-radius: 50%;
        height:  100px ;
        width: 100px;
        justify-content: center;
        margin-top:-50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 5px white solid;
    
    }
    .top-image{
        border-top-left-radius:15px;
        border-top-right-radius:15px;
    }
    
    h1{
        color:black;
        font-weight: 700;
        Font-size:18px;
        text-align: center;
        font-family: 'Kumbh Sans', sans-serif;
        padding:30px;
    }
    span{ 
    padding:10px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    }
    .city{
        margin-top:15px;
        font-size: 13px;
    }
    
    
    p{
     border: 1.5px solid var(--Dark-grayish-blue);
    border-style: solid none none none;
    opacity: .2;
        
    }
     #p3{ 
        color:black;
        font-weight: 700;
        Font-size:18px;
        background-color: white;
        
         
     
    }
    .p2{
        background-color: white;
        float: left;
        width: 33.33%;
        text-align: center;
        margin-bottom: 25px;
        margin-top:25px;
        Font-size:13px;
        
    } 
